
   .jumbotron {
     background-color: orange;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: rgb(255, 255, 255);
  }
  @media (min-width: 768px) {
    .jumbotron {
      background-color: orange;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  body {
    background-color: orange;
  }

  .jumbotron p:last-child {
    background-color: orange;
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    background-color: orange;
    font-weight: 300;
  }
  
  .jumbotron .container {
    background-color: orange;
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

  div.a {
    display: grid;
    text-align: center;
    background-color: orange;
  }
  
  div.card {
    display: grid;
    background-color: #eeeeee;
    box-shadow: 10px 10px grey;
    padding: 10px;
    border-radius: 10px;
  }
  